<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3 style="color:#fff;">Twipper</h3>
      <div class="tweet_search">
        <div class="searchbar_and_button">
          <input id="search_tweets" type="text" placeholder="Twip a word" class="search_bar"/>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <button id="TwipperSearch">Search!</button>
        </div>
      </div>
    </div>
    <div class="navbar-collapse collapse" style="padding-top:8px;">
      <ul class="nav navbar-nav">
      </li>
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</div> <!-- /.navbar -->

<div id="title-bar" class="alert alert-dismissable navbar-inverse navbar-brand">
  <button id="title-close" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Twipper</strong> <small style="color:#999">Find where people are talking about</small>
</div> <!-- ./titlebar -->


<div id="map-canvas"></div> <!-- ./map-canvas -->
</div> <!-- .container -->
